<h2> RubyEdu.com - Our favorite Ruby education material </h2>
<h3> プログラマキャパ確保 </h3>
<h3> 石井プロジェクト拡充 </h3>
<h3> incubatefundピボット後のドキュメント </h3>
<h3> jafco起業家イベント </h3>
<h3> 1000万円留衣ブレスト </h3>
<br> 

<% @posts.each do |post| %>
<p>

<td><%= post.description %></td>
<td><%= form_for post do |f| %></td>
  <td>Description: <%= f.text_area :description %><br /></td>
   <%= f.fields_for :comments do |comment| %>
   <td>Comment: <%= comment.text_area :body %> <br></td>
<% end %>
<% end %>
</p>
<% post.comments.each do |comment| %>
<p>
comment: <%= comment.body %>
user: <%= comment.user.name if comment.user %>
published: <%= time_ago_in_words(comment.created_at) %>
</p>
<% end %>
<% end %>


<%= form_for @post, url: post_create_path do |f| %>
  Description: <%= f.text_area :description %><br />
   <%= f.fields_for :comments do |comment| %>
   Comment: <%= comment.text_area :body %> <br>
<% end %>

  <%= f.submit %>
<% end %>


