<h2> RubyEdu.com - People's favorite Ruby educational material </h2>
<br>
<table>
  <tr>
    <td>description</td>
    <td>upvote</td> 
    <td>comment</td>
  </tr>
</table>

<% @posts.each do |f| %>
<%= f.description %>
<br>
<% end %>

<%= form_for :post, url: post_create_path do |f| %>
  Description: <%= f.text_area :description %><br />
  <%= f.submit %>
<% end %>

<%= form_for @post do |f| %>
  <%= f.fields_for :comments do |c| %>
    <%= c.text_field :title %>
  <%= f.submit %>

